.appheader-container {
  background: lightblue;

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 2rem;
  }
  .navbar {
    display: flex;
    .item {
      list-style: none;

      a {
        text-decoration: none;
        color: #444;
      }
    }

    .mg-right {
      margin-right: 2rem;
    }
  }
  .search {
    margin-right: 2rem;
  }
}
